body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/webp/background.webp);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-attachment: fixed, fixed;
    background-position: center, center;
    /*  */
    font-size: 1.2rem; 
    font-family: 'Noto Serif TC', serif;
    /*  */
}

a {
    text-decoration: none!important;
}

img {
    width: 100%;
    max-width: 90vw;
}

/* navbar */

.navbar{
    background-color: rgba(0, 0, 0, 0.8);
}

#top i {
    color: white;
}

/* header */

#header-photo, .header-content {
    height: 60%;
}

#header-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo {
    width: 70%;
    max-width: 40vw;
}

.header-content {
    height: 60%;
}

.header-content hr {
    background-color: #fff;
}

#header-items {
    height: 30%;
}

#header-items {
    display: flex;
}

.item {
    position: relative;
}

.item-img {
    width: 100%;
    filter: brightness(.7);
    transition-duration: 1s;
}

.item:hover .item-img {
    filter: brightness(1);
}

.item .item-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 偏移 */

#item-works, #item-edu, #item-myself {
    clip-path: polygon(95% 0, 95% 10%, 91% 10%, 91% 20%, 100% 20%, 100% 25%, 87% 25%, 87% 40%, 90% 40%, 90% 50%, 85% 50%, 85% 55%, 100% 55%, 100% 65%, 93% 65%, 93% 76%, 96% 76%, 96% 82%, 88% 82%, 88% 92%, 85% 92%, 85% 100%, /*鏡像*/
    0 100%, 0 92%, 3% 92%, 3% 82%, 11% 82%, 11% 76%, 8% 76%, 8% 65%, 15% 65%, 15% 55%, 0 55%, 0 50%, 5% 50%, 5% 40%, 2% 40%, 2% 25%, 15% 25%, 15% 20%, 6% 20%, 6% 10%, 10% 10%, 10% 0);
    margin-right: -40px;
}

#header-items {
    margin-left: -40px;
}

/* headline */

.headline-w img, .headline-t img {
    max-height: 100%;
    width: auto;
}

.headline-w {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
}

.headline-t {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1));
}

/* works */

#works, .btn {
    background-color: white;
}

.btn {
    color: rgb(0, 123, 255);
}

.card-header{
    background-color: rgba(0, 0, 50, 0.8);
}

/* education */

#education .time, .time-now {
    margin: 0 20%;
    padding: 0 10%;
    position: relative;
}

.time::before, .time-now::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: rgb(172, 172, 172);
}

.time-now::before {
    top: 14.334px;
}

.time::after, .time-now::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 8.834px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: rgb(172, 172, 172);
}

.time-now{
    padding-bottom: 1rem;
}

/* myself */

#myself {
   background: url(../images/mozjpeg/border.jpg);
}

#myself-contain{
    background-color: #fff;
}

#myself p {
    text-indent: 2.8rem;
    letter-spacing: .2rem;
}

#myself .myself-title {
    padding: 0;
}

.myself-title input {
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: grayscale(100%);
    transition-duration: 1s;
}

.myself-title:hover input {
    filter: grayscale(0%);
}

input:focus {
    outline: none;
}

/* myself-content */

#myself-about, #myself-study, #myself-active, #myself-future {
    display: none;
}

/* footer */

footer {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width:991.98px) {
    /* header */
    #header-photo, .header-content {
        margin-top: 0;
    }
    .header-content {
        height: auto;
    }
    #header-items {
        display: none;
    }
    /* education */
    #education .time, .time-now {
        margin: 0 5%;
        padding: 0 5%;
    }

    .time-now {
     padding-bottom: 1rem;
    }
    /* myself */
    .decoration-left,.decoration-right{
        display: none;
    }
    #myself-about, #myself-study, #myself-active, #myself-future {
        display: inline;
    }
    input {
        display: none;
    }
    
}

/* option */

.show {
    display: inline!important;
}

.select {
    position: absolute;
    filter: grayscale(0%)!important;
    box-shadow: 0 0 10px black;
    z-index: 2!important;
}

.pointer {
    cursor: pointer;
}

.not-allow{
    cursor: not-allowed!important;
}

#loading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 1021;
}