$backgroundColor: black;

$primaryColor: #9FA8DA;
$secondaryColor: #EF9A9A;

$lightColor: #ECEFF1;
$darkColor: #212121;


.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.primaryColor{
    color: $primaryColor;
}

.primaryColorBack{
    background-color: $primaryColor;
}