body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-attachment: fixed, fixed;
    background-position: center, center;
    /*  */
    font-size: larger;
    font-family: 'Noto Serif TC', serif;
    /*  */
}

a {
    text-decoration: none!important;
}

img {
    width: 100%;
    max-width: 90vw;
}

/* top */

#top {
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 20;
}


/* set hint color */
#top i{
    color: white;
}





/* header */

header {}

#header-photo, .header-content {
    height: 60%;
}

#header-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#photo {
    width: 70%;
    max-width: 40vw;
}

.header-content {
    height: 60%;
}

.header-content hr {
    background-color: #fff;
}

#header-items {
    height: 30%;
}

#header-items {
    display: flex;
}

.item {
    position: relative;
}

.item-img {
    max-height: 15%;
    width: 100%;
    filter: brightness(.7);
}

.item:hover .item-img {
    transition-duration: 1s;
    filter: brightness(1);
}

.item .item-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 偏移 */

#item-works, #item-edu, #item-myself {
    clip-path: polygon(95% 0, 95% 10%, 91% 10%, 91% 20%, 100% 20%, 100% 25%, 87% 25%, 87% 40%, 90% 40%, 90% 50%, 85% 50%, 85% 55%, 100% 55%, 100% 65%, 93% 65%, 93% 76%, 96% 76%, 96% 82%, 88% 82%, 88% 92%, 85% 92%, 85% 100%,/*鏡像*/0 100%, 0 92%, 3% 92%, 3% 82%, 11% 82%, 11% 76%, 8% 76%, 8% 65%, 15% 65%, 15% 55%, 0 55%, 0 50%, 5% 50%, 5% 40%, 2% 40%, 2% 25%, 15% 25%, 15% 20%, 6% 20%, 6% 10%, 10% 10%, 10% 0);
    margin-right: -40px;
}

#header-items {
    margin-left: -40px;
}

.item-img {}

/* headline */

.headline-w img, .headline-t img{
    max-height: 100%;
    width: auto;
}

.headline-w {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
}

.headline-t {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1));
}

/* works */

#works {
    background-color: white;
}

.btn{
    background-color: #b1f8e8;
    color: rgb(0, 123, 255);
}

/* education */

#education {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* myself */

#myself {
    background-color: white;
}

#myself p{
    text-indent: 2.2rem;
}

#myself .myself-title {
    padding: 0;
}

.myself-title input {
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: grayscale(100%);
}

.myself-title:hover input {
    transition-duration: 1s;
    filter: grayscale(0%);
}

input:focus {
    outline: none;
}

/* myself-content */



#myself-about, #myself-study, #myself-active, #myself-future {
    display: none;
}

/* footer */

footer {
    background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width:991.98px) {
    #header-photo, .header-content {
        margin-top: 0;
    }
    #header-photo {}
    .header-content {
        height: auto;
    }
    #header-items {
        display: none;
    }
    #myself-about, #myself-study, #myself-active, #myself-future {
        display: inline;
    }
    input {
        display: none;
    }
}

/* option */

.show {
    display: inline!important;
}

.select {
    position: absolute;
    filter: grayscale(0%)!important;
    box-shadow: 0 0 10px black;
    z-index: 4!important;
}

.pointer{
    cursor: pointer;
}
